.product__reviews {
  display: flex;
  flex-direction: column;
  max-width: 916px;
  width: 100%;
  margin-bottom: 46px;
}

.reviews__none-text {
  margin: 64px 0 82px;
  color: var(--Primary-Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.reviews__group {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

.product__review {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 31px 0;
  gap: 24px;
  border-bottom: 1px solid var(--Gray-Light);
}

.product__review:last-child {
  border-bottom: none;
}

.review__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review__set {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review__avatar {
  width: 28px;
  height: 28px;
  margin: 0 12px 0 0;
  padding: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

.review__author {
  margin: 0;
  padding: 0;
  color: var(--Primary-Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.review__date {
  margin: 0 8px 0 0;
  padding: 0;
  color: var(--Gray-Medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.review__text {
  margin: 0;
  padding: 0;
  color: var(--Primary-Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  word-wrap: normal;
  white-space: pre-wrap;
}

.product__review {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 31px 0;
  gap: 24px;
  border-bottom: 1px solid var(--Gray-Light);
}

.product__review:last-child {
  border-bottom: none;
}
