.content__favorites {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* margin-right: var(--s-indent);
  margin-left: var(--s-indent) */
}

.favorites {
  padding: 0 0 116px;
}

.favorites__title {
  padding: 0;
  margin: 16px 0 48px;
  color: var(--Primary-Black, #1e1e1e);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
