.header__catalog{
  background: var(--gradient-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1.23rem;
}