.MuiSlider-rail {
  color: var(--secondary-purple-light);
}

.MuiSlider-colorPrimary {
  color: var(--gradient-primary);
}

.custom-slider-root {
  color: var(--accent-purple);
}

.custom-slider-thumb{
  color: var(--accent-purple);
  height: 15px !important;
  width: 15px !important;
}

.custom-slider-rail {
  color: var(--secondary-purple-light);
  height: 3px !important;

}

.custom-slider-track {
  color: var(--accent-purple);
  height: 2px !important;
}