.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal__content {
  position: relative;
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 30px 105px 106px;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.modal__content_type_register {
  min-height: 718px;
}

.modal__button_type_close {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.modal__button_type_back {
  position: absolute;
  top: 42px;
  left: 42px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.modal__title {
  color: var(--Primary-Black);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 49px;
  padding: 0;
}

.modal__eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  cursor: pointer;
}

.modal__span {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--Primary-Black);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
}

.modal__span_type_reset-password {
  color: var(--Primary-Accent);
}

.modal__span_type_policy {
  font-size: 14px;
  line-height: 20px;
}

.modal__span_link {
  color: var(--Primary-Accent);
  cursor: pointer;
}

.modal__span_type_auth-link {
  margin-left: 8px;
}

.modal__span_type_policy-link {
  margin-left: 8px;
  font-size: 14px;
}

.modal__link-back {
  background: no-repeat center url('../../../images/ic_arrow-24.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  top: 36px;
  left: 36px;
}