.profile__navigation {
  border-radius: 0px 16px 0px 0px;
  background-color: #f8f8ff;
  padding: 32px 0 0 26px;
  width: 276px;
}

.profile__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 24px 0 88px;
}

.profile__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__navigation-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__links-list-title {
  margin: 0;
}

.profile__link a {
  text-decoration: none;
  color: var(--Primary-Black);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.profile__nav-button {
  padding: 0;
  color: var(--Primary-Black);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 32px;
  text-align: start;
}

.profile__nav-button_type_delete-profile {
  background-image: url(../../../images/fluent_delete-20-regular-red.svg);
}

.profile__nav-button_type_logout {
  background-image: url(../../../images/fluent_arrow-exit-20-regular.svg);
}

.profile__nav-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}