.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

.rating__stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
.rating__star {
  margin: 0;
  padding: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: none;
  background-size: 1.25rem 1.25rem;
}

.rating__star_on {
  background: center no-repeat url(../../images/ic_rating-20-on.svg);
}

.rating__star_off {
  background: center no-repeat url(../../images/ic_rating-20.svg);
}

.rating__feedback {
  color: var(--Primary-Black);
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.rating__feedback_small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.rating__feedback_big {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
