:root {
  --text-color: #7e7e7e;
  --s-indent: 1.62rem;
  --gradient-primary: linear-gradient(
    270deg,
    #7916e1 0%,
    #680be0 47.92%,
    #5500de 100%
  );
  --primary-white: #fdfdfd;
  --letter-space: 0.5px;
  --input-text: #cccccc;
  --accent-purple: #680be0;
  --accent-orange: #ff8f6e;
  --primary-black: #1e1e1e;
  --primary-accent: #726efa;
  --primary-accent-magenta: #ea248a;
  --secondary-accent-blue-dark: #352df2;
  --secondary-purple-light: #b2b0ff;
  --gray-light: #8e8e8e;
  --gray-medium: #7e7e7e;
  --gray-dark: #737373;
  --gray-additional: #9fa1a5;
  --Card-Peach: #ffb19a;
  --Card-Yellow: #fcd78c;
  --Card-Green: #66d4b9;
  --Card-Blue: #bad8f9;
  --Card-Gray: #dddcdf;
}
