.content__poster {
  margin: 16px var(--s-indent);
}

.poster {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.poster__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 14px;
  background-color: #e7e7ffb2;
  border-radius: 16px;
  padding: 0 84px 0 75px;
  gap: 10px;
}

.poster__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.poster__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.4px;
}

.poster__text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.poster__curly-text {
  margin: 0;
  padding: 0;
  color: var(--Secondary-Accent-Blue-Dark);
  font-family: 'Caveat';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: -0.8px;
}
.poster__curly-icon {
  /* content: ''; */
  width: 2.25rem;
  height: 2.25rem;
  margin: 0;
  padding: 0;
  background: center no-repeat url('../../../images/guidance_up-arrow.svg');
  background-size: 2.25rem 2.25rem;
}

.poster__images {
  content: '';
  min-width: 410px;
  height: 152px;
  margin: -10px 0 -14px;
  padding: 0;
  background-image: url('../../../images/vecteezy_3d.png'),
    url('../../../images/vecteezy_3d.png'),
    url('../../../images/vecteezy_3d.png'),
    url('../../../images/ellipse-30.svg');
  background-repeat: no-repeat;
  background-position: 67px 8px, 165px 28px, 247px 52px, 0 0;
  background-size: 90px auto, 74px auto, 56px auto, cover;
  background-clip: border-box;
}
.poster__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background: none;
}
.poster__button:focus {
  outline: 0;
  border-radius: 8px;
  border: 2px solid var(--Secondary-Accent-Blue-Dark);
}
.poster__button-svg {
  fill: var(--Gray-Dark);
  transition: all 0.25s;
}
.poster__button-svg:hover {
  fill: var(--Secondary-Accent-Blue-Dark);
  transition: all 0.25s;
}
