.poster {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  padding: 0;
}

.poster__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.poster__title {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 142.857% */
  letter-spacing: -0.035rem;
}
.poster__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.625rem 0;
  background-color: #e7e7ffb2;
  border-radius: 1rem;
  padding: 0;
  gap: 7.5rem;
}

.poster__text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.poster__curly-text {
  margin: 0;
  padding: 0;
  color: var(--Secondary-Accent-Blue-Dark);
  font-family: 'Caveat';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 100% */
  letter-spacing: -0.05rem;
}
.poster__curly-icon {
  /* content: ''; */
  width: 2.25rem;
  height: 2.25rem;
  margin: 0;
  padding: 0;
  background: center no-repeat url('../../../images/guidance_up-arrow.svg');
  background-size: 2.25rem 2.25rem;
}

.poster__images {
  content: '';
  min-width: 410px;
  height: 152px;
  margin: -0.625rem 0;
  padding: 0;
  background-image: url('../../../images/vecteezy_3d.png'),
    url('../../../images/vecteezy_3d.png'),
    url('../../../images/vecteezy_3d.png'),
    url('../../../images/ellipse-30.svg');
  background-repeat: no-repeat;
  background-position: 67px 8px, 165px 28px, 247px 52px, 0 0;
  background-size: 90px 123px, 74px 103px, 56px 78px, cover;
}
.poster__button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border: none;
  background: none;
}
.poster__button-svg {
  fill: var(--Gray-Dark);
  transition: all 0.25s;
}
.poster__button-svg:hover {
  fill: var(--Secondary-Accent-Blue-Dark);
  transition: all 0.25s;
}
