.modal__success-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal__success-message-link {
  text-decoration: none;
  margin-top: 48px;
}

.modal__success-message-title {
  margin: 24px 0 16px;
}

.modal__success-message-caption {
  margin: 0;
  max-width: 245px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
