.images {
  display: flex;
  max-height: 544px;
  max-width: 915px;
  margin: 0;
  padding: 0;
  gap: 0px;
  box-sizing: border-box;
  background: none;
}
.images__nav-swiper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 208px;
  gap: 20px;
  margin: 0;
  padding: 0;
  border: none;
}

.images__nav-swiper .swiper-slide {
  width: 188px;
  height: 145px;
  opacity: 0.75;
}
.images__nav-swiper .swiper-slide:hover {
  opacity: 1;
  border: 1px solid var(--Secondary-Accent-Blue-Dark);
}
.images__nav-swiper .swiper-slide-thumb-active {
  border: 1px solid var(--Primary-Accent);
  opacity: 1;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
}
.images__swiper .swiper-slide-prev {
  position: relative;
  border-radius: 16px;
}
.images__swiper .swiper-slide-prev::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: gray;
  opacity: 0.05;
  border-radius: 16px;
  transition: background 1s;
}

.images__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #f4f4f4;
  object-fit: contain;
}

.images__swiper {
  width: 708px;
  height: 544px;
  border-radius: 16px;
}

.images__wrapper {
  display: block;
  width: 708px;
  height: 544px;
  position: relative;
}
.images__icon {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  content: '';
  background-image: url(../../../images/arcticons_photo-and-picture-resizer.svg);
  background-size: 28px 28px;
  background-repeat: no-repeat;
  bottom: 20px;
  right: 20px;
  background-position: right bottom;
  z-index: 100;
  opacity: 1;
  visibility: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.images__wrapper:hover .images__icon {
  visibility: visible;
  transition: all 0.2s;
}

.images__modal {
  width: 1280px;
  height: 780px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  top: 10vh;
  right: 0;
  z-index: 15;
}

.images__modal:before {
  position: fixed;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}
.modal__close {
  position: absolute;
  z-index: 20;
  right: 0;
  top: -40px;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 0.8;
}

.modal__swiper {
  width: 1280px;
  height: 780px;
  margin: auto;
  z-index: 20;
}

.images__modal .swiper-button-next,
.images__modal .swiper-button-prev {
  background-color: none;
  width: 80px;
  height: 585px;
  padding: 0;
  margin: auto 0;
  top: 0;
  bottom: 0;
}
.images__modal .swiper-button-next {
  right: 0;
  border-radius: 16px 0 0 16px;
}
.images__modal .swiper-button-prev {
  left: 0;
  border-radius: 0 16px 16px 0;
}

.images__nav-swiper [class^='swiper-button'] {
  width: 28px;
  height: 28px;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  margin: 0;
}

.images__nav-swiper .swiper-button-prev {
  top: 5px;
  left: 80px;
  background-image: url(../../../images/ep_arrow-down.svg);
  transform: rotate(180deg);
}
.images__nav-swiper .swiper-button-next {
  bottom: 5px;
  left: 80px;
  background-image: url(../../../images/ep_arrow-down.svg);
  transform: rotate(0);
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-horizontal > .swiper-pagination-bullets {
  border-radius: 16px;
  background: rgba(250, 250, 255, 0.3);
  padding: 12px 8px;
  max-width: max-content;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 24px;
  gap: 8px;
}
.swiper-pagination-bullet {
  background: #b2b0ff;
  width: 12px;
  height: 12px;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.03),
    0px 1px 1px 0px rgba(0, 0, 0, 0.01), 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}
.swiper-pagination-bullet:hover {
  background: var(--Secondary-Accent-Blue-Dark);
}

.swiper-pagination-bullet-active {
  background: #726efa;
  color: #726efa;
}

.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  right: 5px;
  width: 10px;
}
