.profile__form-buttons {
  display: flex;
  box-sizing: content-box;
  margin-top: 44px;
}

.profile__form-buttons_type_edit {
    gap: 16px;
}

.profile__form-button:disabled {
  background-color: var(--Secondary-Purple-Light);
}