.more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 53px 0 0;
  height: 24px;
}

.more__button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Primary-Accent);
  align-items: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.more__button:hover {
  color: var(--Secondary-Accent-Blue-Dark);
  transition: all 0.2s;
}
