.categories__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.categories__input+label {
  display: inline-flex;
  align-items: center;
}

.categories__input+label::before {
  content: '';
  display: inline-block;
  width: .8em;
  height: .8em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--Secondary-Accent-Blue-Dark);
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.categories__input:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.categories__input:checked+label::before {
  border-color: var(--Secondary-Accent-Blue-Dark);
  background-color: var(--Secondary-Accent-Blue-Dark);
  background-image: url('../../images/checked-small.svg');
}

.categories__input-container{
  margin-bottom: .95rem;
}

.categories__label{
  font-size: 1.25rem;
  color: var(--Primary-Black);
}

.categories__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Primary-Black);
  margin: 0;
  letter-spacing: var(--letter-space);
  margin-bottom: 1.95rem;
}

.categories{
  margin-left: var(--s-indent);
}