.seller__promo {
    display: flex;
    justify-content: space-between;
}

.seller__heading {
    color: var(--Primary-Black);
    font-size: 40px;
    font-weight: 700;
    max-width: 737px;
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.seller__text {
    color: var(--Primary-Black);
    font-size: 20px;
    font-weight: 400;
    max-width: 590px;
    padding: 0;
    padding-left: 8px;
    margin: 24px 0 49px;
    line-height: 26px;
}

.seller__button {
    border: none;
    border-radius: 8px;
    background: var(--Primary-Accent);
    color: var(--Primary-White);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 15px 16px;
    max-width: 292px;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.seller__image {
    width: 416px;
    height: 334px;
    object-fit: contain;
}

.seller__steps {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
}

.seller__step {
    display: flex;
    justify-content: space-between;
    max-width: 396px;
    height: 260px;
    border-radius: 20px;
    background: var(--Primary-White);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.10);
}

.seller__step-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 210px;
    margin: 32px 0 0 36px;
}

.seller__step-title {
    color: var(--Primary-Black);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.seller__step-text {
    color: var(--Primary-Black);
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

.seller__step-picture {
    width: 128px;
    height: 128px;
}

.seller__step-picture_type_first {
    margin: auto 24px 25px 0;
    width: 108px;
    height: 108px;
}

.seller__step-picture_type_second {
    margin: auto 20px 9px 0;
}

.seller__step-picture_type_third {
    margin: auto 20px 20px 0;
}

.seller__banner {
    background-image: url('../../images/banner_bg.png');
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 198px;
    position: relative;
}

.seller__banner-title {
    color: var(--Primary-White);
    font-size: 40px;
    font-weight: 700;
    max-width: 456px;
    margin: 51px auto 70px;
    line-height: 50px;
}

.seller__banner-illustrations {
    position: relative;
    margin-right: 199px;
    width: 356px;
    height: 159px;
}

.seller__banner-nums {
    width: 270px;
    position: absolute;
    top: 44px;
    left: 68px;
    z-index: 21;
}

.seller__banner-figure {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 81px;
}

.seller__banner-icon {
    width: 110px;
    height: 116px;
    object-fit: contain;
    position: absolute;
    right: 13px;
    bottom: 0;
}

.seller__more-text {
    color: var(--Primary-Black);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 0;
    padding: 0;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.04em;
}

.seller__link {
    text-decoration: none;
    color: var(--Primary-Accent);
}