.cart__container {
  display: flex;
  max-width: 812px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid var(--Gray-Light);
}

.cart__container:last-child {
  border-bottom: none;
}

.cart__container:first-of-type {
  padding-top: 24px;
}

.cart__input-container {
  display: flex;
  align-self: center;
}

.cart__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.cart__input+label::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--Secondary-Accent-Blue-Dark);
  border-radius: 4px;
}

.cart__label {
  letter-spacing: var(--letter-space);
}

.cart__input:checked+label::before {
  border-color: var(--Secondary-Accent-Blue-Dark);
  background-color: var(--Secondary-Accent-Blue-Dark);
  background-image: url('../../../images/checked.svg');
  background-size: cover;
}
  
.cart__image {
  width: 248px;
  height: 192px;
  background: lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  flex-shrink: 0;
}

.cart__info {
  display: flex;
  flex-direction: column;
  width: 499px;
}

.cart__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 499px;
  width: 100%;
}
  
.cart__text-container {
  width: 292px;
  letter-spacing: .8px;
}
  
.cart__text-title {
  margin: 0;
  padding: 0;
  height: 44px;
  color: var(--Primary-Black);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
  
.cart__text-articl {
  margin: 8px 0 16px;
  padding: 0;
  color: var(--Primary-Black);
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
  
.cart__text-description {
  width: 292px;
  height: 60px;
  margin: 0;
  padding: 0;
  color: var(--Primary-Black);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cart__price {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cart__bot-cost {
  margin: 4px 0 0;
  padding: 0;
  color: var(--Primary-Black);
  text-align: right;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.6px;
}

.cart__bot-price {
  margin: 0;
  padding: 0;
  color: var(--Primary-Black);
  text-align: right;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}
  
.cart__favourite-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 4px 0 0;
  padding: 0;
}

.cart__favourite-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
}

.cart__favourite-break {
  width: 0.1rem;
  height: 1.3125rem;
  background-color: var(--Gray-Light);
  margin-top: .47rem;
}

.cart__delete-button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.cart__delete-image {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
  
.cart__delete-text {
  margin: 0;
  padding: 0;
  color: var(--Gray-Dark);
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.cart__amount {
  width: 188px;
  height: 40px;
}
/*
.cart__line {
  width: 50.75rem;
  height: 0.0625rem;
  background-color: var(--Gray-Light);
  border-bottom: 1px var(--Gray-Light);
  margin-top: 2rem;
}
*/

.cart__edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 4px 0 0;
  padding: 0;
}

.cart__preview-container {
  display: flex;
  flex-direction: column;
}

.cart__preview-date {
  color: var(--Gray-Dark, #737373);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cart__favourite-edit {
  display: flex;
  align-items: center;
  align-items: flex-end;
  gap: 8px;
  padding-bottom: 12px;
}

.cart__favourite-button-image {
  background: url(../../../images/edit_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.cart__favourite-button-edit {
  color: var(--Gray-Dark, #737373);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  background: none;
  padding: 0;
}

.cart__favourite-button {
  width: 188px;
  border: none;
  border-radius: 8px;
  background: var(--Primary-Accent, #726efa);
  text-align: center;
  padding: 14px 0;
  color: var(--Primary-White, #fdfdfd);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.cart__favourite-button_active {
  color: var(--Primary-Accent, #726efa);
  background: none;
  border: 2px solid var(--Primary-Accent, #726efa);
}
