.product__questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product__questions-title {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.product__questions-items {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0;
    padding: 0;
    gap: 32px;
    list-style: none;
}

.product__questions-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__questions-text {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;
}

.product__questions-open {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding: 0;
    background: url(../../images/ic_plus-20.svg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    border: none;
}