.contant__title {
  padding: 16px 0 48px;
  margin: 0;
}
.title {
  min-height: 48px;
  color: var(--Primary-Black);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
