/* @import url(../../blocks/content/content.css);
@import url(../../blocks/content/__submit-button/content__submit-button.css);
@import url(../../blocks/content/__form/content__from.css); */

.content__form {
  display: flex;
  flex-direction: column;
}

.content__submit-button {
  all: unset;
  margin-top: 2.2rem;
  margin-left: var(--s-indent);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--secondary-purple-light);
  text-align: center;
  width: 16.25rem;
  border: 2px solid var(--secondary-purple-light);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  letter-spacing: var(--letter-space);
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  gap: 20px;
}