.cards {
  margin: 0;
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(405px, 1fr));
  column-gap: 20px;
  row-gap: 60px;
  justify-content: center;
  align-content: center;
  list-style: none;
}
