.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.star-rating__input {
    display: none;
}

.star-rating__label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #CCCCCC;
    text-align: center;
    background-image: url('../../images/ic_rating-20.svg');
}


.star-rating__input:checked ~ .star-rating__label {
    background-image: url('../../images/ic_rating-20-on.svg');
}

.star-rating__label:hover,
.star-rating__label:hover ~ .star-rating__label {
    color: gold;
}