.popup {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 1814px;
  visibility: hidden;
  opacity: 0;
  transition: visability 0.2s, opacity 0.2s ease-in;
  z-index: 3;
}

.popup__category {
  position: absolute;
  display: flex;
  top: 485px;
  left: 550px;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__group-category {
  position: absolute;
  width: 320px;
  padding-top: 44px;
  padding-left: 50px;
}

.popup__text-category {
  margin: 0;
  padding: 0;
  width: 288px;
  color: var(--Primary-Black, #1E1E1E);
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  z-index: 3;
}

.popup__text_type_span {
  color: var(--Primary-Accent, #726EFA);
}