.popup__category {
  position: fixed;
  display: flex;
  top: 410px;
  left: 530px;
  visibility: hidden;
  opacity: 0;
  transition: visability 0.2s, opacity 0.2s ease-in;
  z-index: 3;
}

.popup__category_opened {
  visibility: visible;
  opacity: 1;
}

.popup__text-group {
  position: absolute;
  width: 325px;
  height: 124px;
  padding-top: 40px;
  padding-left: 50px;
}

.popup__text {
  margin: 0;
  padding: 0;
  color: var(--Primary-Black, #1E1E1E);
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  z-index: 3;
}

.popup__text_type_span {
  color: var(--Primary-Accent, #726EFA);
}