.more {
  margin: 2rem auto 1rem;
  display: grid;
  justify-content: space-between;
  gap: 1rem;
}

.more__button {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-accent);
  align-items: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.more__button_back {
  grid-column: 1;
}
.more__button_next {
  grid-column: 3;
}
.more__button:hover {
  color: var(--secondary-accent-blue-dark);
}

.more__page-number {
  grid-column: 2;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-black);
  align-items: center;
}
