.movies__more {
  margin: 48px auto;
  display: flex;
  width: 292px;
  height: 52px;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid #726efa;
  background: none;
  color: #726efa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
