.basket{
  margin-bottom: 8.75rem;
}
.basket__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  line-height: 3.75rem;
  margin: 0;
  margin-top: 1rem;
  margin-left: var(--s-indent);
  margin-bottom: 2.8rem;
  letter-spacing: 1.5px;
}

.basket__container {
  display: flex;
}

.basket__input+label::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--secondary-accent-blue-dark);
  border-radius: 0.25em;
  margin-left: var(--s-indent);
}

.basket__label {
  letter-spacing: var(--letter-space);
}

.basket__input:checked+label::before {
  border-color: var(--secondary-accent-blue-dark);
  background-color: var(--secondary-accent-blue-dark);
  background-image: url('../../images/checked.svg');
  background-size: cover;
}

.basket__delete-img {
  margin-left: 2.8rem;
  cursor: pointer;
}

.basket__input-container {
  display: flex;
}


.basket__delete-text {
  letter-spacing: var(--letter-space);
  margin-left: .75rem;
}

.basket__card-container {
  margin-top: 1.1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "A F B C"
    "A F D D";
}

.basket__card-image {
  width: 15.5rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 1rem;
  margin-left: 0.8rem;
  grid-area: F;
}

.basket__text-container {
  grid-area: B;
  width: 24rem;
  padding-left: 1.2rem;
  letter-spacing: .8px;
}

.basket__text-title {
  margin: 0;
  color: var(--primary-black);
  font-weight: 600;
  line-height: 1.375rem;
}

.basket__text-articl {
  color: var(--primary-black);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: .5rem;
  letter-spacing: .8px;
}

.basket__text-description {
  color: var(--primary-black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  width: 20rem;
  margin-bottom: 0;
}

.basket__favourite-container {
  grid-area: D;
  padding-left: 1.2rem;
  display: flex;
  width: auto;
}

.basket__favourite-heart-text {
  margin: 0;
  padding-top: .5rem;
  margin-left: .5rem;
  overflow: hidden;
  color: var(--gray-dark);
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: .8px;
}

.basket__favourite-heart {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: .47rem;
  cursor: pointer;
}

.basket__favourite-break {
  width: 0.1rem;
  height: 1.3125rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: var(--gray-light);
  margin-top: .47rem;
}

.basket__favourite-cross {
  margin-top: .47rem;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
}

.basket__bot-number-container {
  display: flex;
  grid-area: D;
  margin-left: 3.55rem;
  transform: translateY(+9%);
}

.basket__button {
  all: unset;
  margin-bottom: 0;
  cursor: pointer;
}

.basket__button-symbol {
  padding: 0.52rem 1.1rem;
  background-color: var(--secondary-purple-light);
  border-radius: 0.5rem;
}

.basket__bot-number {
  color: var(--Primary-Black, #1E1E1E);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: auto 2rem;
}

.basket__order-container {
  margin-left: 7.75rem;
}

.basket__order-price {
  padding: 2rem 1.25rem;
  border-radius: 0.5rem;
  background: var(--primary-white);
  box-shadow: 4px 0px 20px 12px rgba(0, 0, 0, 0.15);
  margin-top: .3rem;
}

.basket__sum {
  margin-left: 5.5rem;
  color: var(--primary-black);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  display: block;
  transform: translateY(-18%);
}

.basket__bot-price {
  color: var(--primary-black);
  text-align: right;
  font-size: 1.39056rem;
  font-weight: 700;
}

.basket__price {
  display: flex;
  grid-area: C;
  color: var(--primary-black);
  text-align: right;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: .5px;
  margin: 0;
}

.basket__amount {
  margin: 0;
  margin-top: .7rem;
}

.basket__order-search-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.basket__input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-purple-light);
  width: 100%;
}

.basket__input-button {
  all: unset;
  position: absolute;
  padding: .78rem 1.18rem;
  background-color: var(--secondary-purple-light);
  top: 0;
  right: 0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  cursor: pointer;
}

.basket__input-plus {
  width: 1.5rem;
  height: 1.5rem;
}

.basket__make-order {
  all: unset;
  width: 100%;
  color: var(--primary-white);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  background-color: var(--primary-accent);
  padding: .88rem 1rem;
  box-sizing: border-box;
  border-radius: .5rem;
}

.basket__line {
  width: 50.75rem;
  height: 0.0625rem;
  background-color: var(--gray-light);
  margin-left: var(--s-indent);
  margin-top: 2rem;
}