.product__price {
    display: flex;
    box-sizing: border-box;
    width: 292px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.product__price-item {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product__price-button {
    display: flex;
    width: 292px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-accent);
    color: var(--primary-white);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
}

.product__price-button:hover {
    background: var(--secondary-accent-blue-dark);
}

.product__price-button:disabled {
    background: var(--secondary-purple-light);
}
