.about-bots {
  padding: 93px var(--s-indent) 0;
}

.about-bots__title {
  color: var(--Primary-Black, #1e1e1e);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 42px;
}

.about-bots__container {
  display: flex;
  gap: 67px;
  flex-wrap: wrap;
}

.about-bots__preview {
  width: 364px;
  height: 248px;
  padding: 40px 0 0;
  background: no-repeat url(../../../images/vecteezy_3d.png) #d9d9d9;
  background-size: 87px 126px;
  background-position: bottom 33px center;
  position: relative;
  margin: 0;
  border: none;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
}
.about-bots__preview :before,
.about-bots__preview :after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
.about-bots__preview :before {
  bottom: 149px;
  width: 12px;
  height: 12px;
  background-color: var(--Primary-White);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.about-bots__preview :after {
  width: 8px;
  height: 8px;
  bottom: 135px;
  background-color: var(--Primary-White);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.about-bots__preview:nth-of-type(odd) :before {
  right: 110px;
}
.about-bots__preview:nth-of-type(odd) :after {
  right: 125px;
}
.about-bots__preview:nth-of-type(even) :before {
  left: 110px;
}
.about-bots__preview:nth-of-type(even) :after {
  left: 125px;
}

.about-bots__preview-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 250px;
  width: min-content;
  text-align: center;
  padding: 8px 12px;
  margin: 0 auto;
  border-radius: 1.5rem;
  background-color: var(--Primary-White);
  color: var(--Primary-Black);
  white-space: nowrap;
  text-overflow: hidden;
  text-overflow: ellipsis;
}

.about-bots__description {
  display: flex;
  padding: 0 48px;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 795px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
