.card {
  width: 292px;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.card__title {
  width: 292px;
  height: 48px;
  margin: 8px 0 4px;
  padding: 0;
  overflow: hidden;
  color: var(--Primary-Black);
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.card__price {
  display: flex;
  width: 100%;
  margin: 0 0 12px;
  padding: 0;
  align-items: center;
  color: var(--Primary-Black);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}
