.product {
  max-width: 1280px;
  margin: 0 var(--s-indent);
  display: flex;
  flex-direction: column;
}

.product__good-info {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 19px 0 24px;
  padding: 4px 0 8px;
  gap: 16px;
}

.product__good-details {
  display: grid;
  grid-template-columns: minmax(min-content, 916px) minmax(min-content, 292px);
  gap: 20px;
}
