.product {
  max-width: 1280px;
  margin: 0 var(--s-indent);
  display: flex;
  flex-direction: column;
}

.product__good-info {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin: 13px 0 26px;
  gap: 15px;
}

.product__good-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
