.popup__photo {
  position: absolute;
  display: flex;
  padding-left: 56px;
  visibility: hidden;
  opacity: 0;
  transition: visability 0.2s, opacity 0.2s ease-in;
  z-index: 3;
}
  
.popup__photo_opened {
  visibility: visible;
  opacity: 1;
}
  
.popup__group-photo {
  position: absolute;
  width: 320px;
  padding-top: 44px;
  padding-left: 50px;
}
  
.popup__text-photo {
  margin: 0;
  padding: 0;
  width: 272px;
  color: var(--Primary-Black, #1E1E1E);
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  z-index: 3;
}
