.input__eye {
  background-image: url(../../../images/eye.svg);
  position: absolute;
  right: 12px;
  top: 35%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.input__eye_active {
  background-image: url(../../../images/open_eye.svg);
}
