/*header*/
/* @import url(../../blocks/header/header.css);
@import url(../../blocks/header/__nav/header__nav.css);
@import url(../../blocks/header/__link/header__link.css);
@import url(../../blocks/header/__link-seller/header__link-seller.css);
@import url(../../blocks/header/__basis/header__basis.css);
@import url(../../blocks/header/__logo/header__logo.css);
@import url(../../blocks/header/__catalog/header__catalog.css);
@import url(../../blocks/header/__catalog-text/header__catalog-text.css);
@import url(../../blocks/header/__catalog-container/header__catalog-container.css);
@import url(../../blocks/header/__input/header__input.css);
@import url(../../blocks/header/__search-button/header__search-button.css);
@import url(../../blocks/header/__search-icon/header__search-icon.css);
@import url(../../blocks/header/__basket-button/header__basket-button.css);
@import url(../../blocks/header/__favourite-button/header__favourite-button.css);
@import url(../../blocks/header/__enter-button/header__enter-button.css); */

.header__nav {
  margin-top: 1rem;
  margin-left: 232px;
  margin-bottom: 1rem;
}

.header__link {
  margin-right: 43px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: var(--letter-space);
}

.header__link-seller {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-purple-light);
}

.header__basis {
  display: flex;
  margin-left: var(--s-indent);
  margin-right: var(--s-indent);
  padding-bottom: 2rem;
}

.header__catalog {
  background: var(--gradient-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1.23rem;
}

.header__input {
  font-size: 1.25rem;
  letter-spacing: var(--letter-space);
  padding: 0.88rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--accent-purple);
  width: 29.3rem;
}

.header__input::placeholder {
  color: var(--input-text);
}

.header__search-button {
  background-color: var(--accent-purple);
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  border: none;
  outline: none;
  padding: 0.97rem 1.5rem;
}

.header__search-icon {
  transform: translateY(+12%);
}

.header__basket-button {
  margin-right: 1.23rem;
  cursor: pointer;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 1.25rem;
}

.header__logo {
  display: flex;
  width: 11.75rem;
  height: 3.25rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: center no-repeat url(../../images/logo.svg);
  /* transition: all 0.5s; */
}
/* .header__logo:hover {
  transition: all 0.5s;
} */

.header__button-medium {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3.25rem;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  background: var(--primary-accent);
  border: none;
  transition: all 0.5s;
}
.header__button-medium:hover {
  background: var(--secondary-accent-blue-dark);
  transition: all 0.5s;
}
.header__button-medium:disabled {
  background: var(--secondary-purple-light);
  transition: all 0.5s;
}
.header__catalog-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  background: center no-repeat url(../../images/ic_menu-catalog-24.svg);
}
.header__catalog-text {
  color: var(--primary-white);
  letter-spacing: var(--letter-space);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.header__button-small {
  display: flex;
  width: 5.5rem;
  height: 3.25rem;
  padding: 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 122.222% */
  transition: all 0.5s;
}
.header__button-small_solid {
  background: var(--primary-accent);
  color: var(--primary-white);
}
.header__button-small_solid:hover {
  background: var(--secondary-accent-blue-dark);
  transition: all 0.5s;
}
.header__button-small_solid:disabled {
  background: var(--secondary-purple-light);
}
.header__button-small_border {
  border: 2px solid var(--primary-accent);
  color: var(--primary-accent);
  background: none;
}
.header__button-small_border:hover {
  color: var(--secondary-accent-blue-dark);
  border: 2px solid var(--secondary-accent-blue-dark);
  transition: all 0.5s;
}
.header__button-small_border:disabled {
  color: var(--secondary-purple-light);
  border: 2px solid var(--secondary-purple-light);
}

.header__menu-button-icon {
  position: relative;
  display: flex;
  width: 5.5rem;
  height: 3.25rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  overflow: hidden;
  color: var(--primary-black);
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  cursor: pointer;
}
.header__menu-button-icon:hover {
  color: var(--secondary-accent-blue-dark);
}
.header__button-icon {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1.75rem;
  height: 1.75rem;
}
.header__button-icon_favorite {
  background: center no-repeat url(../../images/ic_heart-28.svg);
}
.header__button-icon_cart {
  background: center no-repeat url(../../images/ic_cart-24.svg);
}
.header__button-icon_profile {
  background: center no-repeat url(../../images/ic_profile-28.svg);
}
.header__menu-button-icon:hover .header__button-icon_favorite {
  background-image: url(../../images/ic_heart-28-blue-dark.svg);
}
.header__menu-button-icon:hover .header__button-icon_cart {
  background-image: url(../../images/ic_cart-24-blue-dark.svg);
}
.header__menu-button-icon:hover .header__button-icon_profile {
  background-image: url(../../images/ic_profile-28-blue-dark.svg);
}

.header__badge-counter {
  position: absolute;
  right: 0.125rem;
  top: 0;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--accent-orange);
  color: var(--primary-white);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}
