.header {
  width: 100%;
}
.header__container {
  margin: 0 auto;
  padding: 0 var(--s-indent);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 55px;
  margin: 16px 208px;
}

.header__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: var(--letter-space);
  color: var(--Primary-Black);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.25s;
}
.header__link:hover {
  color: var(--Secondary-Accent-Blue-Dark);
  transition: color 0.25s;
}
/* .header__link-seller {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--Secondary-Purple-Light);
} */

.header__basis {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 55px;
  margin: 0;
  padding-bottom: 32px;
  width: 100%;
}
.header__basis_fix {
  padding: 8px 0 8px;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 15;
  max-width: 1228px;
}
.header__basis_fix_invisible {
  visibility: hidden;
  opacity: 0;
}
.header__basis_fix_visible {
  visibility: visible;
  transition: all 0.3s;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header__navbar:first-child {
  flex-grow: 2;
}

.header__search-form {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 52px;
}
.header__search-input {
  padding: 14px 68px 14px 16px;
  border-radius: 0.5rem;
  border: 2px solid var(--Primary-Accent);
  color: var(--Primary-Black);
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header__search-input::placeholder {
  color: var(--Gray-Medium);
}
.header__search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Primary-Accent);
  border-radius: 0 8px 8px 0;
  border: none;
  outline: none;
}
.header__search-button:hover {
  background-color: var(--Secondary-Accent-Blue-Dark);
}
.header__search-icon {
  width: 24px;
  height: 24px;
  background: center no-repeat url(../../images/ic_search-24.svg);
}

.header__logo {
  display: flex;
  width: 188px;
  height: 52px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.header__button-medium {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 52px;
  padding: 14px 16px;
  border-radius: 8px;
  background: var(--Primary-Accent);
  border: none;
  transition: all 0.25s;
  cursor: pointer;
  text-decoration: none;
}
.header__button-medium:hover {
  background: var(--Secondary-Accent-Blue-Dark);
  transition: all 0.25s;
}
.header__button-medium:disabled {
  background: var(--Secondary-Purple-Light);
  transition: all 0.25s;
}
.header__catalog-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background: center no-repeat url(../../images/ic_menu-catalog-24.svg);
}
.header__catalog-text {
  color: var(--Primary-White);
  letter-spacing: var(--letter-space);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header__button-small {
  display: flex;
  width: 88px;
  height: 52px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transition: all 0.25s;
}
.header__button-small_solid {
  background: var(--Primary-Accent);
  color: var(--Primary-White);
}
.header__button-small_solid:hover {
  background: var(--Secondary-Accent-Blue-Dark);
  transition: all 0.25s;
}
.header__button-small_solid:disabled {
  background: var(--Secondary-Purple-Light);
}
.header__button-small_border {
  border: 2px solid var(--Primary-Accent);
  color: var(--Primary-Accent);
  background: none;
}
.header__button-small_border:hover {
  color: var(--Secondary-Accent-Blue-Dark);
  border: 2px solid var(--Secondary-Accent-Blue-Dark);
  transition: all 0.25s;
}
.header__button-small_border:disabled {
  color: var(--Secondary-Purple-Light);
  border: 2px solid var(--Secondary-Purple-Light);
}

.header__menu-button-icon {
  position: relative;
  display: flex;
  width: 88px;
  height: 52px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.header__button-text {
  width: 100%;
  color: var(--Primary-Black);
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
}
.header__menu-button-icon:hover .header__button-text {
  color: var(--Secondary-Accent-Blue-Dark);
}
.header__button-icon {
  display: flex;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
}
.header__button-icon_favorite {
  background: center no-repeat url(../../images/ic_heart-28.svg);
}
.header__button-icon_cart {
  background: center no-repeat url(../../images/ic_cart-24.svg);
}
.header__button-icon_profile {
  background: center no-repeat url(../../images/ic_profile-28.svg);
}
.header__menu-button-icon:hover .header__button-icon_favorite {
  background-image: url(../../images/ic_heart-28-blue-dark.svg);
}
.header__menu-button-icon:hover .header__button-icon_cart {
  background-image: url(../../images/ic_cart-24-blue-dark.svg);
}
.header__menu-button-icon:hover .header__button-icon_profile {
  background-image: url(../../images/ic_profile-28-blue-dark.svg);
}

.header__badge-counter {
  position: absolute;
  right: 2px;
  top: 0;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--Accent-Orange);
  color: var(--Primary-White);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
