.modal__success-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin-top: 56px; */
  min-width: 396px;
}

.modal__success-message-link {
  text-decoration: none;
  margin-top: 48px;
  /* margin-bottom: 82px; */
}

.modal__success-message-title {
  margin: 24px 0 16px;
}

.modal__success-message-image {
  max-height: 172px;
}

.modal__success-message-caption {
  margin: 0 auto;
  max-width: 245px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.modal__success-message-button {
  color: var(--Primary-Accent, #726EFA);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
  border: none;
  background-color: #fff;
}
