.profile__button_type_toggle-usertype {
  color: var(--Primary-Black);
  font-size: 24px;
  font-weight: 700;
  padding: 6px 0;
  text-align: start;
  background-image: url(../../../images/heroicons_arrow-path-20-solid.svg);
  background-repeat: no-repeat;
  background-position: right;
}
