.new-bot {
  display: flex;
  flex-direction: column;
}

.new-bot__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px 0 0;
  gap: 8px;
}

.new-bot__title {
  margin: 0;
  padding: 0;
  color: var(--Primary-Black, #1E1E1E);
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.new-bot__icon {
  width: 20px;
  height: 20px;
}

.new-bot__category {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.new-bot__radio-label {
  margin: 0;
  padding: 0;
  gap: 8px;
  color: var(--Primary-Black, #1E1E1E);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.new-bot__input-container {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 0;
  padding: 0;
  gap: 8px;
}
  
.new-bot__label-radio {
  color: var(--Primary-Black, #1E1E1E); 
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  
.new-bot__input-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}
  
.new-bot__input-radio + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  /*
  background-image: url('../../../../images/Radio-goods.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}
  
.new-bot__input-radio + label::before {
  box-sizing: border-box;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--Gray-Light);
  border-radius: 15px;
  margin-right: 12px;
}
  
.new-bot__input-radio:checked + label::before {
  border: none;
  background-image: url('../../../../images/Radio_Checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  