.product__review-initial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product__review-btn-open {
  display: flex;
  width: 396px;
  height: 52px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Primary-Accent);
  color: var(--Primary-White);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
}

.product__review-question {
  margin: 0;
  padding: 0;
  color: var(--Primary-Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product__review-btn-show {
  margin: 0;
  padding: 0;
  background: #fff;
  color: var(--Primary-Accent);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
}

.product__review-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.product__review-wrapper {
  position: relative;
  z-index: 1;
}
.product__review-wrapper::before {
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: none;
  z-index: -1;
}
.product__review-input {
  display: flex;
  width: 916px;
  height: 183px;
  padding: 24px 16px;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid var(--Gray-Additional);
  color: var(--Primary-Black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.product__review-input:focus {
  outline: none;
  border: 1px solid var(--Secondary-Accent-Blue-Dark);
}
.product__review-buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}

.product__review-btn-send {
  display: flex;
  width: 396px;
  height: 52px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Primary-Accent);
  color: var(--Primary-White);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.product__review-btn-delete {
  margin: 0;
  padding: 0;
  background: #fff;
  color: var(--Primary-Accent);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
}
.product__button-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

.product__popover {
  position: absolute;
  top: -128px;
  right: -312px;
  bottom: 76px;
  left: 344px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: var(--Primary-White);
  padding: 32px;
  box-shadow: 4px 0px 20px 12px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  visibility: hidden;
}
.popover__text {
  margin: 0 auto;
  padding: 0;
  color: var(--Primary-Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.popover__svg {
  position: absolute;
  bottom: -20.723px;
  left: 13px;
  width: 20px;
  height: 17.723px;
}

.product__button-wrapper:has(.product__review-btn-open[disabled]:hover)
  .product__popover {
  visibility: visible;
}

.product__review-btn-show:hover,
.product__review-btn-delete:hover {
  color: var(--Secondary-Accent-Blue-Dark);
}
.product__review-btn-show:hover {
  color: var(--Secondary-Accent-Blue-Dark);
}

.product__review-btn-open:hover,
.product__review-btn-send:hover {
  background: var(--Secondary-Accent-Blue-Dark);
}

.product__review-btn-open:disabled,
.product__review-btn-send:disabled {
  background: var(--Secondary-Purple-Light);
  cursor: auto;
}
